*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: black;
    font-family: 'calibri';
  }
  
  header {
    background: red;
    width: 100%;
    clear: both;
    content:'';
    display: table;
  }

  footer {
    background: red;
    width: 100%;
    clear: both;
    content:'';
    display: table;
    margin-top: 100%;
  }
  
  .menu {
    width: 900px;
    margin: 0 auto;
  }
  
  img {
    width: 150px;
    height: 50px;
    padding: 1px;
    margin-left: 50px;
  
  }
  
  nav {
    float: right;
  }
  
  nav ul li {
    list-style: none;
    margin-left: 75px;
    padding: 12px 0;
    float: left;
    position: relative;
    display: block;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav ul li a::before {
    display: block;
    content: '';
    width: 0%;
    background: white;
    height: 5px;
    top:0;
    position: absolute;
    transition: width 0.2s;
  }
  
  nav ul li a:hover::before {
    width: 100%;
  }

  .container img{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    border:7px solid red;
  }

  .container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 50px;
  }


  .container div{
    border: 3px solid red;
    border-radius: 12px;
    padding: 5px;
    margin-left: 20px;
  }
  h2{
    text-align: center;
    font-size: 75px;
  }

  .t-stroke {
      color: transparent;
      -moz-text-stroke-width: 2px;
      -webkit-text-stroke-width: 2px;
      -moz-text-stroke-color: red;
      -webkit-text-stroke-color: red;
    }
    
  .container p{
    color: white;
    padding: 20px;
    font-size: 20px;

  }

  .img_circuito img{
    width: 300px;
    height: 200px;
  }

  section p {
    color: white;
  }

  section h3{
    color: white;
  }

  .circuito{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border: 3px double red;
    border-top-style: double;
    border-bottom-style: double;
    border-right-style: none;
    border-left-style: none;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
  }

  section > h2{
    margin-top: 50px;
  }

  .titulo_circuito{
    margin-top: 30px;
    font-size: 40px;
  }
  

  .info_circuito{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 30px;
  }

