*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Calibri';
}
body{
	background-color: #000;
	background-size: cover;
}
nav{
	max-width: 1500px;
	margin: auto;
	background-color: red;
	font-size: 20px;
	margin-top: 50px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: black;
  border-radius: 15px;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: red;
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

nav img{
  width: 150px;
  height: 50px;
  padding: 1px;
}

  .container img{
    width: 500px;
    height: 300px;
    border-radius: 20px;
    border:7px solid red;
  }

  .container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 50px;
  }

  @media screen and (max-width: 1225px){
    .container{
      display: flex;
      flex-wrap: wrap;
    }
    .info_historia{
      margin-top: 20px;
    }
  }

  @media screen and (max-width: 427px){
    .container img{
      width: 300px;
    }
  }

  @media screen and (max-width: 615px){
    .menu-horizontal{
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }
    nav img{
      width: 50px;
      height: 20px;
      padding: 1px;
    }
  }
  
  .container div{
    border: 3px solid red;
    border-radius: 12px;
    padding: 5px;
    margin-left: 20px;
  }
  h2{
    text-align: center;
    font-size: 75px;
  }

  .t-stroke {
      color: transparent;
      -moz-text-stroke-width: 2px;
      -webkit-text-stroke-width: 2px;
      -moz-text-stroke-color: red;
      -webkit-text-stroke-color: red;
    }
    
  .container p{
    color: white;
    padding: 20px;
    font-size: 20px;

  }

  .img_circuito img{
    width: 300px;
    height: 200px;
  }

  section p {
    color: white;
  }

  section h3{
    color: white;
  }

  .circuito{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border: 3px double red;
    border-top-style: double;
    border-bottom-style: double;
    border-right-style: none;
    border-left-style: none;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
  }

  @media screen and (max-width: 950px){
    .circuito{
      display: flex;
      flex-wrap: wrap;
    }
    h2{
      font-size: 40px;
    }
  }

  section > h2{
    margin-top: 50px;
  }

  .titulo_circuito{
    margin-top: 30px;
    font-size: 40px;
  }
  

  .info_circuito{
    font-size: 25px;
    margin-left: 50px;
  }

  .escuderia{
    display: flex;
    justify-content: space-around;
    background-color: white;
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 15px;
    border: 3px solid red;
  }

  .escuderia img{
    width: 300px;
    height: auto;
  }

  .escuderia p{
    color: black;
  }

  table{
    width: auto;
    height: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }



  .escuderia_pilotos{
    display: flex;
    justify-content: space-between;
  }

  @media screen and (max-width: 1500px){
    .escuderia{
      display: flex;
      flex-wrap: wrap;
    }
  }

  @media screen and (max-width: 450px){
    .escuderia img{
      width: 100px;
    }
  }
 

  .pilotos {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  .pilotos img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }

  .pilotos p {
    font-size: 16px;
    color: #333;
  }

  @media screen and (max-width: 745px){
    .escuderia_pilotos{
      display: flex;
      flex-wrap: wrap;
     
    }
  }
  
  h4{
    font-size: 3em;
  }

  .piloto_unico{
    display: flex;
    background-color: white;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 15px;
    border: 3px solid red;
  }

  @media screen and (max-width: 1033px){
    .piloto_unico{
      display: flex;
      flex-wrap: wrap;
    }
  }


  .piloto_unico img {
    width: 200px;
    margin-bottom: 10px;
  }

  .piloto_unico p {
    font-size: 50px;
    color: #333;
  }

  .imagen_piloto > img{
    width: 300px;
    border-radius: 15px;
  }

  @media screen and (max-width: 605px){
    
    .piloto_unico img {
      width: 90px;
      margin-bottom: 10px;
    }
    .imagen_piloto h4{
      font-size: 1em;
      margin-left: 20px;
    }
  }

  .imagen_piloto div > img{
    width: 100px;
  }

  @media screen and (max-width: 390px){
    .imagen_piloto > img{
      width: 100px;
      border-radius: 5px;
      
    }
    .piloto_unico img {
      width: 150px;
      margin-bottom: 10px;
      margin-left: 20px;
    }

    .piloto_unico p {
      font-size: 50px;
      color: #333;
      margin-left: 50px;
    }
  }

  .bio_piloto{
    background-color: white;
    margin-top: 20px;
    padding: 20px;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 15px;
    border: 3px solid red;
  }

  .bio_piloto h1{
    color: black;
    text-align: center;
    font-size: 4em;
  }

  .bio_piloto p{
    color: #333;
    font-size: 20px;
    padding: 30px;
  }

  .slider-frame {
    width: 1280px;
    height: auto;
    margin:50px auto 0;
    overflow: hidden;
    border-radius: 15px;
    border: 3px solid red;
  }
  
  .slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    
    
    
    animation: slide 20s infinite alternate ease-in-out;
  }
  
  .slider-frame li {
    width: 100%;
    list-style: none;
  }
  
  .slider-frame img {
    width: 100%;
  }
  
  @keyframes slide {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
  }

  @media screen and (max-width: 800px){
    .slider-frame img{
      width: 500px;
    }
    .slider-frame{
      width: 500px;
    }
  }

  @media screen and (max-width: 400px){
    .slider-frame img{
      width: 300px;
    }
    .slider-frame{
      width: 300px;
    }
  }
  
  footer {
    background-color: gray;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
  }
  
  .social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #fff;
    font-size: 24px;
  }
  
  .social-icons a:hover {
    color: red;
  }
  
  .fab {
    font-size: 30px;
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #15151e;
    margin-top: 20px;
    border-radius: 12px;
  }

  .image-container h1{
    font-size: 4em;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px red;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  
  .image-container img {
    width: 120px;
    height: 80px;
    object-fit: cover;
    margin: 20px;
  }

  .patrocinios{
    border: 2px double grey;
    border-top-style: none;
    border-bottom-style: double;
    border-right-style: none;
    border-left-style: none;
  }

  @media screen and (max-width: 800px){
    .image-container h1{
      font-size: 2em;
    }
  }
  
  