/* Estilos para el menú principal */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #333;
  }
  
  ul li {
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: left;
    vertical-align: top;
    margin: 0;
    padding: 0;
  }
  
  ul li a {
    display: block;
    padding: 8px 16px;
    color: #fff;
    text-decoration: none;
  }
  
  /* Estilos para el submenú */
  ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
  }
  
  ul ul li {
    display: block;
    width: 200px;
    text-align: left;
  }
  
  ul ul li a {
    display: block;
    padding: 8px 16px;
    color: #333;
    text-decoration: none;
  }
  
  /* Estilos para mostrar el submenú */
  ul li:hover > ul {
    display: block;
    visibility: visible;
  }
  

  div {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: #333;
  }

  h1 {
    font-family: Arial, sans-serif;
    font-size: 4em;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 2px;
    margin-top: 50px;
  }
  
  .underline {
    height: 10px;
    background-color: #fff;
    margin: 0 auto;
    width: 100px;
    margin-top: 20px;
  }