/* Estilos para el menú principal */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Calibri';
}
body{
	background-color: #000;
	background-size: cover;
}
nav{
	max-width: 1500px;
	margin: auto;
	background-color: red;
	font-size: 20px;
	margin-top: 50px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: black;
  border-radius: 15px;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: red;
}
.menu-horizontal li:hover .menu-vertical{
	display: table;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

nav img{
  width: 150px;
  height: 50px;
  padding: 1px;
}



  h1 {
    font-family: Arial, sans-serif;
    font-size: 4em;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
    letter-spacing: 2px;
    margin-top: 50px;
  }
  
  .underline {
    height: 10px;
    background-color: #fff;
    margin: 0 auto;
    width: 100px;
    margin-top: 20px;
  }